<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="preload" href="fonts/Inter-Medium.woff" as="font" type="font/woff" crossorigin>
  
  <link rel="icon" type="image/x-icon" href="favicon.ico"/>
  <link rel="shortcut icon" href="favicon.ico" />
  <link rel="icon" sizes="16x16" href="assets/favicon-16x16.png" />
  <link rel="icon" sizes="32x32" href="assets/favicon-32x32.png" />
  <link rel="icon" sizes="192x192" href="assets/android-chrome-192x192.png" />
  <link rel="apple-touch-icon" sizes="180x180" href="assets/apple-touch-icon.png" />

  <!-- <meta name="description" content="" /> -->
  <meta property="og:site_name" content="Epikast" />
  <meta property="og:title" content="About" />
  <!-- <meta property="og:description" content="Page description" /> -->
  <meta name="keywords" content="patients, prescribers, caregivers, data, insights">
  <meta property="og:image" content="assess/og_img.png" />

  <link rel="stylesheet" href="css/layout/layout.css">
  <link rel="stylesheet" href="css/pages/about.css">

  <title>About us</title>
</head>
<body>

  <header>
    <div class="container container--header">
      <a href="index.html" class="logo">
        <figure>
          <img src="assets/logo.svg" alt="Epikast logo" width="158" height="36">
        </figure>
      </a>
      <nav class="menu-wrap js-menu">
        <ul class="menu">
          <li><a href="index.html">Home</a></li>
          <li><a href="services.html">Our services</a></li>
          <li><a href="about.html" class="active">About us</a></li>
          <li><a href="careers.html">Careers</a></li>
          <li><a href="contact.html">Contact us</a></li>
        </ul>
      </nav>
      <span class="burger js-burger"></span>
    </div>
  </header>

  <main class="container container--main" id="personas">
    
    <section class="quotes">
      <article class="split split--double quote">
        <div class="split__part quote__content">
          We redefine how biopharmaceutical companies engage with 
          their most important stakeholders:
          <strong>patients / caregivers and prescribers.</strong>
        </div>
        <figure class="split__part rounded layered">
          <img src="assets/images/about_1.jpg" width="576" height="400" />
        </figure>
      </article>
      <!-- <article class="split split--double quote">
        <figure class="split__part rounded layered">
          <img src="assets/images/about_2.jpg" width="576" height="400" />
        </figure>
        <div class="split__part quote__content">
          We focus on collecting and synthesizing all appropriate 
          <strong>data</strong> from those interactions, enabling our partners to 
          gain <strong>unique insights</strong> into the use of their medications 
          in the real world.
        </div>
      </article> -->
    </section>

    <section class="values bubble">
      <h2 class="bubble__title">Our values</h2>
      <div class="values__wrap js-values">
        <ul class="split split--double values__list">
          <li class="split__part values__item">
            <h3 class="value__title">
              <img src="assets/Care.svg" width="40" height="40" alt="Care" /> Care
            </h3>
            <div class="content">
              We care deeply for the patients we serve. 
              Everything we do is aimed towards improving their lives.
              Equally, we deeply care about our customers and about each other. 
              We value our relationships and we help each other grow as professionals
            </div>
          </li>
          <li class="split__part values__item">
            <h3 class="value__title">
              <img src="assets/Excellence.svg" width="40" height="40" alt="Excellence" /> Excellence
            </h3>
            <div class="content">
              Simply put, we never compromise. We strive for excellence 
              in everything we do, and we continuously learn from our 
              customers and from each other.
            </div>
          </li>
          <li class="split__part values__item">
            <h3 class="value__title">
              <img src="assets/Innovation.svg" width="40" height="40" alt="Innovation" /> Innovation
            </h3>
            <div class="content">
              We don’t ask how things have been done in the past, 
              but how they should be done in 10 years from now. 
              We live and breathe technology and data,
              while maintaining our core of a human-centric business.
            </div>
          </li>
          <li class="split__part values__item">
            <h3 class="value__title">
              <img src="assets/Integrity.svg" width="40" height="40" alt="Integrity" /> Integrity
            </h3>
            <div class="content">
              We do not overpromise to our customers, we do not bend 
              any rules ever, and we treat our stakeholders – patients, 
              physicians, customers, employees, and our communities – 
              exactly how we would want to be treated.
            </div>
          </li>
        </ul>
        <div class="pagination pagination--values"></div>
      </div>
      <img src="assets/element_3.svg" class="values__element">
    </section>

    <section class="personas">
      <h2 class="personas__title">Our leadership</h2>
      <ul class="personas__filter-list">
        <li 
          :class="{ active: filter.id == activeFilter }"
          v-for="filter in filters" 
          :key="filter.id"
          @click="activeFilter = filter.id">
          {{ filter.label }}
        </li>
      </ul>
      
      <div class="personas__wrap js-personas">
        <div class="split split--quadraple">
          <article class="split__part persona" 
            v-for="(persona, index) in filteredPersonas" 
            :key="index" 
            @click="open_modal(persona)">
            <div class="persona__card">
              <figure class="persona__image">
                <img :src="persona.img" width="152" height="160" :alt="persona.name" />
              </figure>
              <h3 class="persona__title">{{ persona.name }}</h3>
              <div class="persona__desc">{{ persona.title }}</div>
              <img class="persona__arrow" src="assets/arrow.svg">
            </div>
          </article>
         </div>
      </div>
    </section>

    <div class="modal modal--dark" :class="{ active: modalIsOpen }" v-if="modalIsOpen" @click.stop.self="close_modal()">
      <div class="modal__container">
        <img class="modal__close" src="assets/close.svg" @click="close_modal()">
        <div class="content" v-html="modalData.bio"></div>
        <span class="content-shadow"></span>
        <div class="modal__footer">
          <a v-if="modalData.linkedin" :href="modalData.linkedin" target="_blank" class="linkedin">
            <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 40 40">
              <g id="Group_330" data-name="Group 330" fill="#fff">
                <path id="Path_177" data-name="Path 177" class="cls-1" d="m13.27,31.23h-5.06V15.17h4.97v16.06h.09Zm-2.53-18.21c-1.6-.09-2.82-1.46-2.73-3.06.08-1.47,1.26-2.65,2.73-2.73,1.6.09,2.82,1.46,2.73,3.06-.08,1.47-1.26,2.65-2.73,2.73Zm21.25,18.21h-4.96v-7.83c0-1.87,0-4.3-2.62-4.3s-2.99,2.09-2.99,4.11v7.94h-5.05v-15.99h4.78v2.15h.1c.98-1.69,2.81-2.7,4.77-2.62,5.06,0,6,3.36,6,7.66v8.87h-.01Z"/>
              </g>
            </svg>
          </a>
        </div>
      </div>
    </div>

  </main>

  <footer class="container container--footer">
    <a href="https://www.linkedin.com/company/epikast/" target="_blank" aria-label="Linkedin" class="linkedin">
      <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 40 40">
        <g id="Group_330" data-name="Group 330" fill="#000033">
          <path id="Path_177" data-name="Path 177" class="cls-1" d="m13.27,31.23h-5.06V15.17h4.97v16.06h.09Zm-2.53-18.21c-1.6-.09-2.82-1.46-2.73-3.06.08-1.47,1.26-2.65,2.73-2.73,1.6.09,2.82,1.46,2.73,3.06-.08,1.47-1.26,2.65-2.73,2.73Zm21.25,18.21h-4.96v-7.83c0-1.87,0-4.3-2.62-4.3s-2.99,2.09-2.99,4.11v7.94h-5.05v-15.99h4.78v2.15h.1c.98-1.69,2.81-2.7,4.77-2.62,5.06,0,6,3.36,6,7.66v8.87h-.01Z"/>
        </g>
      </svg>
    </a>
    <div class="mail-copy">
      <span class="js-copy-year"></span> &copy; All rights reserved
    </div>
    <a href="index.html" class="logo"><img src="assets/logo.svg" alt="Epikast logo" width="128" height="27"/></a>
  </footer>
  

  <script src="js/vue.js"></script>
  <script src="js/swiper.min.js"></script>
  <script type="module" src="js/global.js"></script>
</body>
</html>
