@font-face {
  font-family: 'Inter';
  src: local('Inter-Light.eot');
  src: url('../../fonts/Inter-Light.eot?#iefix') format('embedded-opentype'),
      url('../../fonts/Inter-Light.woff2') format('woff2'),
      url('../../fonts/Inter-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Inter';
  src: local('Inter-Regular.eot');
  src: url('../../fonts/Inter-Regular.eot?#iefix') format('embedded-opentype'),
      url('../../fonts/Inter-Regular.woff2') format('woff2'),
      url('../../fonts/Inter-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Inter';
  src: local('Inter-Medium.eot');
  src: url('../../fonts/Inter-Medium.eot?#iefix') format('embedded-opentype'),
      url('../../fonts/Inter-Medium.woff2') format('woff2'),
      url('../../fonts/Inter-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Inter';
  src: local('Inter-SemiBold.eot');
  src: url('../../fonts/Inter-SemiBold.eot?#iefix') format('embedded-opentype'),
      url('../../fonts/Inter-SemiBold.woff2') format('woff2'),
      url('../../fonts/Inter-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Inter';
  src: local('Inter-Bold.eot');
  src: url('../../fonts/Inter-Bold.eot?#iefix') format('embedded-opentype'),
      url('../../fonts/Inter-Bold.woff2') format('woff2'),
      url('../../fonts/Inter-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Inter';
  src: local('Inter-ExtraBold.eot');
  src: url('../../fonts/Inter-ExtraBold.eot?#iefix') format('embedded-opentype'),
      url('../../fonts/Inter-ExtraBold.woff2') format('woff2'),
      url('../../fonts/Inter-ExtraBold.woff') format('woff');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}





:root {
  --stratos: #000033;
  --blue-ribbon: #0066FF;
  --athens-gray: #F9FAFB;
  --lynch: #687992;
  --geyser: #DBDFE5;

  --safe-space: 40px;
  
  --font-inter: 'Inter', sans-serif;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
img {
  max-width: 100%;
  height: auto;
}
figure {
  line-height: 0;
}
iframe {
  border: 0;
}
a {
  text-decoration: none;
  color: inherit;
}
h1,h2,h3,h4,h5,h6 {
  font-weight: 600;
}

/* Basic layout */
html {
  font-size: 62.5%;
}
body {
  font: 400 1.6rem/2rem var(--font-inter);
  color: var(--stratos);
  text-rendering: optimizeLegibility;
  font-feature-settings: "kern" 1;
  font-kerning: normal;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: #fff;
  z-index: 1;
  border-bottom: 1px solid #000;
}

.container {
  max-width: 1296px;
  margin: 0 auto;
  padding: 0 var(--safe-space);
  /* outline: 1px solid red; */
}
.container--header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 22px;
  padding-bottom: 22px;
}
.container--main {
  padding-top: 80px;
}
.container--footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 63px;
  padding-bottom: 110px;
  font-size: 1.4rem;
  line-height: 2.1rem;
  border-top: 1px solid #000;
}


.email {
  font-weight: 600;
  color: var(--blue-ribbon);
}
.copyrights {
  color: var(--lynch);
}





.menu {
  display: flex;
  align-items: center;
  list-style-type: none;
  
}
.menu li {
  margin: 0 20px;
}
.menu li:last-child {
  margin-right: 0;
}
.menu a {
  color: var(--lynch);
  transition: 0.2s;
}
.menu a.active,
.menu a:hover {
  color: var(--blue-ribbon);
  text-decoration: underline;
}





.content p {
  margin-bottom: 20px;
  color: var(--lynch);
}
.content p:last-child {
  margin-bottom: 0;
}


