/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

@font-face {
  font-family: 'Inter';
  src: local('Inter-Light.eot');
  src: url('../../fonts/Inter-Light.eot?#iefix') format('embedded-opentype'),
      url('../../fonts/Inter-Light.woff2') format('woff2'),
      url('../../fonts/Inter-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Inter';
  src: local('Inter-Regular.eot');
  src: url('../../fonts/Inter-Regular.eot?#iefix') format('embedded-opentype'),
      url('../../fonts/Inter-Regular.woff2') format('woff2'),
      url('../../fonts/Inter-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Inter';
  src: local('Inter-Medium.eot');
  src: url('../../fonts/Inter-Medium.eot?#iefix') format('embedded-opentype'),
      url('../../fonts/Inter-Medium.woff2') format('woff2'),
      url('../../fonts/Inter-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Inter';
  src: local('Inter-SemiBold.eot');
  src: url('../../fonts/Inter-SemiBold.eot?#iefix') format('embedded-opentype'),
      url('../../fonts/Inter-SemiBold.woff2') format('woff2'),
      url('../../fonts/Inter-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Inter';
  src: local('Inter-Bold.eot');
  src: url('../../fonts/Inter-Bold.eot?#iefix') format('embedded-opentype'),
      url('../../fonts/Inter-Bold.woff2') format('woff2'),
      url('../../fonts/Inter-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Inter';
  src: local('Inter-ExtraBold.eot');
  src: url('../../fonts/Inter-ExtraBold.eot?#iefix') format('embedded-opentype'),
      url('../../fonts/Inter-ExtraBold.woff2') format('woff2'),
      url('../../fonts/Inter-ExtraBold.woff') format('woff');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

:root {
  --stratos: #000033;
  --blue-ribbon: #0066FF;
  --athens-gray: #F9FAFB;
  --lynch: #687992;
  --geyser: #DBDFE5;
  --melrose: #B2C7FD;

  --safe-space: 40px;
  --negative-safe-space: calc(-1 * var(--safe-space));
  --header-size: 80px;
  --base-distance: 64px;
  
  --font-inter: 'Inter', sans-serif;
}
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}
img {
  max-width: 100%;
  height: auto;
}
figure {
  line-height: 0;
}
iframe {
  border: 0;
}
a {
  text-decoration: none;
  color: inherit;
}
h1,h2,h3,h4,h5,h6 {
  font-weight: 600;
}

/* Basic layout */
html {
  font-size: 62.5%;
}
body {
  font: 400 1.6rem/2.2rem var(--font-inter);
  color: var(--stratos);
  text-rendering: optimizeLegibility;
  -webkit-font-feature-settings: "kern" 1;
          font-feature-settings: "kern" 1;
  -webkit-font-kerning: normal;
          font-kerning: normal;
}

.container {
  max-width: 1296px;
  margin: 0 auto;
  padding: 0 var(--safe-space);
}


/* ---- */

/* .container:before,
.container:after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  width: 1px;
  background-color: rgba(0,0,0,0.1);
}
.container:before {
  left: calc(var(--safe-space) - 1px);
}
.container:after {
  right: calc(var(--safe-space) - 1px);
}
.container {
  position: relative;
  outline: 1px solid rgba(0, 0, 0, 0.1);
}
.split {
  outline: 1px solid var(--blue-ribbon)
}
.split__part {
  outline: 1px solid var(--melrose)
} */

/* ----- */

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: #fff;
  z-index: 1;
  border-bottom: 1px solid var(--athens-gray);
}
.container--header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: var(--header-size);
  padding-top: 22px;
  padding-bottom: 22px;
  background: #fff;
}
.container--main {
  padding-top: 64px;
  margin-top: var(--header-size);
}
.container--main > *:last-child {
  margin-bottom: 0;
}
.burger {
  display: none;
}
.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style-type: none;
  
}
.menu li {
  margin: 0 20px;
}
.menu li:last-child {
  margin-right: 0;
}
.menu a {
  position: relative;
  color: var(--lynch);
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}
.menu a:before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 1px;
  background: transparent;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}
.menu a.active,
.menu a:hover {
  color: var(--blue-ribbon);
}
.menu a.active:before,
.menu a:hover:before {
  background: var(--blue-ribbon);
}

.container--footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 56px;
  padding-bottom: 40px;
  font-size: 1.4rem;
  line-height: 2.1rem;
}
.container--footer .logo {
  max-width: 128px;
  line-height: 0;
}
.linkedin {
  line-height: 0;
}
.linkedin svg {
  width: 30px;
  height: 30px;
}
.mail-copy {
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin: 0 32px 2px;
  text-align: center;
}
.mail-copy__mail {
  position: absolute;
  left: 0;
  font-weight: 600;
  color: var(--blue-ribbon);
}
.mail-copy__copy {
  margin-left: 104px;
  color: var(--lynch);
}

.content {
  color: var(--lynch);
}
.content a {
  color: var(--blue-ribbon);
}
.content p:not(:last-child) {
  margin-bottom: 24px;
}

figure.rounded {
  border-radius: 24px;
  overflow: hidden;
}
figure.rounded img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}
figure.layered {
  position: relative;
}
figure.layered:before {
  content: '';
  position: absolute;
  inset: 0;
  background: var(--blue-ribbon);
  opacity: 0.3;
  mix-blend-mode: multiply;
}
figure.full-height {
  height: 100%;
}

.split {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -24px;
}
.split__part {
  margin: 0 24px;
  word-break: break-word;
}
.split--double .split__part {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 calc(50% - 48px);
          flex: 1 0 calc(50% - 48px);
}

.pagination {
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.pagination__bullet {
  position: relative;
  width: 16px;
  height: 16px;
  margin: 0 10px;
  border-radius: 50%;
  border: 1px solid transparent;
  cursor: pointer;
}
.pagination__bullet:last-child {
  margin-right: 0;
}
.pagination__bullet:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 8px;
  height: 8px;
  background: currentColor;
  border-radius: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.pagination__bullet.active {
  border-color: currentColor;
}

.btn {
  display: inline-block;
  padding: 8px 24px;
  border-radius: 19px;
  font-weight: 500;
  border: 1px solid var(--blue-ribbon);
  color: var(--blue-ribbon);
}
.btn--fill {
  background: var(--blue-ribbon);
  font-weight: 600;
  color: #fff;
}

.bubble {
  position: relative;
  padding: 32px;
}
.bubble:before {
  content: '';
  position: absolute;
  inset: 0;
  border-radius: 24px;
  background: var(--athens-gray);
  z-index: -1;
}
.bubble__title {
  margin-bottom: 24px;
  font-size: 2rem;
  line-height: 2.4rem;
  font-weight: 600;
}

@media only screen and (max-width: 1024px) {
  .bubble {
    padding: 32px 24px;
  }
}

@media only screen and (max-width: 800px) {
  .split--double {
    display: block;
    margin: 0;
  }
  .split--double .split__part {
    margin: 0;
  }
}

@media only screen and (max-width: 768px) {
  .menu li {
    margin: 0 10px;
  }
}

@media only screen and (max-width: 655px) {
  :root {
    --base-distance: 48px
  }
  .container--header .logo {
    max-width: 130px;
  }
  .burger {
    display: block;
    position: relative;
    width: 16px;
    height: 16px;
    cursor: pointer;
    border-top: 2px solid var(--stratos);
    border-bottom: 2px solid var(--stratos);
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
  }
  .burger:before,
  .burger:after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    height: 2px;
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    background: var(--stratos);
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
  }
  .burger:hover {
    border-color: var(--blue-ribbon);
  }
  .burger:hover:before,
  .burger:hover:after {
    background: var(--blue-ribbon);
  }
  
  .burger.active {
    border-color: transparent;
  }
  .burger.active:before {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  .burger.active:after {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
  .menu-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    position: absolute;
    bottom: 40px;
    width: 100%;
    background: #fff;
    right: 0;
    padding: 25px var(--safe-space) 35px;
    -webkit-box-shadow: 0 5px 10px #D9DDE3;
            box-shadow: 0 5px 10px #D9DDE3;
    border-radius: 0 0 24px 24px;
    z-index: -1;
    -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
            transform: translateY(0);
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
  }
  .menu-wrap.active {
    -webkit-transform: translateY(calc(100% + 41px));
        -ms-transform: translateY(calc(100% + 41px));
            transform: translateY(calc(100% + 41px));
  }
  .menu {
    display: block;
    text-align: right;
  }
  .menu li {
    margin: 0 0 24px;
  }
  .menu li:last-child {
    margin: 0;
  }

  .container--footer .logo {
    width: 24px;
    overflow: hidden;
  }
  .container--footer .logo img {
    max-width: none;
    width: 120px;
  }
  .mail-copy {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 0 24px;
  }
  .mail-copy__mail {
    position: static;
  }
  .mail-copy__copy {
    margin: 0;
  }
}

@media only screen and (max-width: 500px) {
  .container--footer {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .mail-copy {
    margin: 0 16px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    font-size: 1.2rem;
    line-height: 1.8rem;
  }
  .mail-copy__mail {
    margin-bottom: 10px;
  }
}

@media only screen and (max-width: 360px) {
  .bubble {
    padding: 32px 0;
  }
  .bubble:before {
    inset: 0 var(--negative-safe-space);
    border-radius: 0;
  }
  .pagination {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}