
@font-face {
  font-family: 'Inter';
  src: local('Inter-Light.eot');
  src: url('../../fonts/Inter-Light.eot?#iefix') format('embedded-opentype'),
      url('../../fonts/Inter-Light.woff2') format('woff2'),
      url('../../fonts/Inter-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Inter';
  src: local('Inter-Regular.eot');
  src: url('../../fonts/Inter-Regular.eot?#iefix') format('embedded-opentype'),
      url('../../fonts/Inter-Regular.woff2') format('woff2'),
      url('../../fonts/Inter-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Inter';
  src: local('Inter-Medium.eot');
  src: url('../../fonts/Inter-Medium.eot?#iefix') format('embedded-opentype'),
      url('../../fonts/Inter-Medium.woff2') format('woff2'),
      url('../../fonts/Inter-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Inter';
  src: local('Inter-SemiBold.eot');
  src: url('../../fonts/Inter-SemiBold.eot?#iefix') format('embedded-opentype'),
      url('../../fonts/Inter-SemiBold.woff2') format('woff2'),
      url('../../fonts/Inter-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Inter';
  src: local('Inter-Bold.eot');
  src: url('../../fonts/Inter-Bold.eot?#iefix') format('embedded-opentype'),
      url('../../fonts/Inter-Bold.woff2') format('woff2'),
      url('../../fonts/Inter-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Inter';
  src: local('Inter-ExtraBold.eot');
  src: url('../../fonts/Inter-ExtraBold.eot?#iefix') format('embedded-opentype'),
      url('../../fonts/Inter-ExtraBold.woff2') format('woff2'),
      url('../../fonts/Inter-ExtraBold.woff') format('woff');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

[v-cloak] {
  display: none;
}
:root {
  --stratos: #000033;
  --blue-ribbon: #0066FF;
  --athens-gray: #F9FAFB;
  --lynch: #627289;
  --geyser: #DBDFE5;
  --melrose: #B2C7FD;
  --stroke: #D1D6DE;
  --placeholder: #687992;

  --safe-space: 40px;
  --negative-safe-space: calc(-1 * var(--safe-space));
  --header-size: 80px;
  --base-distance: 64px;
  
  --font-inter: 'Inter', sans-serif;
}
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}
img {
  max-width: 100%;
  height: auto;
}
figure {
  line-height: 0;
}
iframe {
  border: 0;
}
a {
  text-decoration: none;
  color: inherit;
}
h1,h2,h3,h4,h5,h6 {
  font-weight: 600;
}

html {
  font-size: 62.5%;
}
body {
  font: 400 1.6rem/2.2rem var(--font-inter);
  color: var(--stratos);
  text-rendering: optimizeLegibility;
  -webkit-font-feature-settings: "kern" 1;
          font-feature-settings: "kern" 1;
  -webkit-font-kerning: normal;
          font-kerning: normal;
}
body.no-scroll {
  height: 100vh;
  overflow: hidden;
}
body.no-scroll.os-win {
  padding-right: 17px;
}
.container {
  max-width: 1296px;
  margin: 0 auto;
  padding: 0 var(--safe-space);
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: #fff;
  z-index: 2;
  border-bottom: 1px solid var(--athens-gray);
}
body.no-scroll.os-win header {
  padding-right: 17px;
}
.container--header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: var(--header-size);
  padding-top: 22px;
  padding-bottom: 22px;
  background: #fff;
}
.container--main {
  padding-top: 64px;
  margin-top: var(--header-size);
}
.container--main > *:last-child {
  margin-bottom: 0;
}
.burger {
  display: none;
}
.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style-type: none;
  
}
.menu li {
  margin: 0 20px;
}
.menu li:last-child {
  margin-right: 0;
}
.menu a {
  position: relative;
  color: var(--lynch);
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}
.menu a:before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 1px;
  background: transparent;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}
.menu a.active,
.menu a:hover {
  color: var(--blue-ribbon);
}
.menu a.active:before,
.menu a:hover:before {
  background: var(--blue-ribbon);
}

.container--footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
          -webkit-box-align: center;
              -ms-flex-align: center;
                  align-items: center;
  padding-top: 56px;
  padding-bottom: 40px;
  font-size: 1.4rem;
  line-height: 2.1rem;
}
.container--footer .logo {
  max-width: 128px;
  line-height: 0;
}
.linkedin {
  line-height: 0;
}
.linkedin svg {
  width: 24px;
  height: 24px;
}
.mail-copy {
  /* padding-left: 104px; */
  /* margin: 0 8px; */
  text-align: center;
}
.footer-menu {
  padding-left: 104px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 8px 16px;
  list-style: none;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 16px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.footer-menu li {
  position: relative;
  
  /* margin: ; */
}
.footer-menu li:after {
  content: '';
  position: absolute;
  right: -8px;
  top: 2px;
  bottom: 2px;
  width: 1px;
  background: var(--lynch);
}
.footer-menu li:last-child::after {
  display: none;
}
.footer-menu li a:hover,
.footer-menu li a.active {
  color: var(--blue-ribbon);
}
.content {
  color: var(--lynch);
}
.content--positions {
  color: var(--stratos);
}
.content a {
  color: var(--blue-ribbon);
}
.content > * {
  margin-bottom: 24px;
}
.content > *:last-child {
  margin-bottom: 0;
}
.content h2,h3,h4,h5 {
  color: var(--stratos);
}
.content ul,
.content ol {
  padding-left: 24px;
  margin-bottom: 48px;
}
.content ol {
  counter-reset: olist;
}
.content li {
  position: relative;
  list-style-type: none;
  margin: 4px 0;
}
.content li:last-child {
  margin-bottom: 0;
}
.content li ul,
.content li ol {
  margin-bottom: 10px;
}
.content ul li:before {
  content: '';
  position: absolute;
  left: -16px;
  top: 9px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: var(--stratos);
}
.content ol li {
  counter-increment: olist;
}
.content ol li:before {
  content: counter(olist);
  position: absolute;
  left: -18px;
  top: 0;
  color: var(--stratos);
}

figure.rounded {
  border-radius: 24px;
  overflow: hidden;
}
figure.rounded img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}
figure.layered {
  position: relative;
}
figure.layered:before {
  content: '';
  position: absolute;
  inset: 0;
  background: var(--blue-ribbon);
  opacity: 0.3;
  mix-blend-mode: multiply;
}
figure.full-height {
  height: 100%;
}

button {
  cursor: pointer;
}

.split {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -24px;
}
.split__part {
  margin: 0 24px;
  word-break: break-word;
}
.split--double .split__part {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 calc(50% - 48px);
          flex: 1 0 calc(50% - 48px);
}

.pagination {
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.pagination__bullet {
  position: relative;
  width: 16px;
  height: 16px;
  margin: 0 10px;
  border-radius: 50%;
  border: 1px solid transparent;
  cursor: pointer;
}
.pagination__bullet:last-child {
  margin-right: 0;
}
.pagination__bullet:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 8px;
  height: 8px;
  background: currentColor;
  border-radius: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.pagination__bullet.active {
  border-color: currentColor;
}

.btn {
  display: inline-block;
  padding: 8px 24px;
  border-radius: 19px;
  font-weight: 400;
  font-size: 1.4rem;
  border: 1px solid var(--blue-ribbon);
  color: var(--blue-ribbon);
}
.btn--icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  
  border-color: rgba(104, 121, 146, 0.4);
}
.btn--icon img {
  margin-right: 8px;
}
.btn--fill {
  background: var(--blue-ribbon);
  font-weight: 600;
  color: #fff;
}
.btn-secondary {
  display: inline-block;
  padding: 5px 10px;
  border-radius: 10px;
  font-size: 1.4rem;
  line-height: 1.8rem;
  /* font-weight: 500; */
  border: 1px solid var(--stratos);
  color: #fff;
  background: var(--stratos);
}

.bubble {
  position: relative;
  padding: 32px;
}
.bubble:before {
  content: '';
  position: absolute;
  inset: 0;
  border-radius: 24px;
  background: var(--athens-gray);
  z-index: -1;
}
.bubble__title {
  margin-bottom: 24px;
  font-size: 2rem;
  line-height: 2.4rem;
  font-weight: 600;
}

.modal {
  display: none;
  position: fixed;
  inset: 0;
  /* display: flex; */
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 16px;
  /* background: rgba(0, 0, 0, 0.4); */
  z-index: 2;
  overflow-y: auto;
}
.modal.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.modal__container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin: auto;
  max-width: 600px;
  max-height: 568px;
  width: 100%;
  border-radius: 24px;
  padding: 40px;
  background: #fff;
  -webkit-box-shadow: 0 0 40px rgb(0 0 51 / 16%);
          box-shadow: 0 0 40px rgb(0 0 51 / 16%);
  z-index: 1;
  cursor: default;
}
.modal--dark .modal__container {
  background: var(--stratos);
  color: #fff;
}
.modal__close {
  position: absolute;
  width: 32px;
  top: 8px;
  right: 8px;
  cursor: pointer;
}
.modal__title {
  margin-bottom: 8px;
  color: var(--blue-ribbon);
}
.modal__description {
  margin-bottom: 16px;
}
.modal__description--icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.modal__description--icon img {
  width: 16px;
  margin-right: 8px;
}
.modal__container .content {
  padding-bottom: 24px;
  overflow-y: auto;
  font-size: 1.4rem;
  line-height: 2.2rem;
  padding-right: 8px;
  color: var(--stratos);;
}
.modal--dark .modal__container .content {
  color: #fff;
}
.modal__container .content::-webkit-scrollbar {
  width: 3px;
  border-radius: 20px;
}
.modal__container .content::-webkit-scrollbar-track {
  background: transparent;
}
.modal__container .content::-webkit-scrollbar-thumb {
  background: var(--lynch);
  border-radius: 20px;
}
.modal--dark .modal__container .content::-webkit-scrollbar-thumb {
  background: #fff;
}
.content-shadow {
  position: relative;
  padding-top: 24px;
  display: block;
  margin-top: -24px;
  width: calc(100% - 3px);
  background: -webkit-gradient(linear, left top, left bottom, from(transparent), to(#fff));
  background: -o-linear-gradient(top, transparent, #fff);
  background: linear-gradient(to bottom, transparent, #fff);
  /* background: red; */
  /* opacity: 0.4; */

}
.modal--dark .content-shadow {
  background: -webkit-gradient(linear, left top, left bottom, from(transparent), to(var(--stratos)));
  background: -o-linear-gradient(top, transparent, var(--stratos));
  background: linear-gradient(to bottom, transparent, var(--stratos));
}
.modal__footer {
  margin-top: 16px;
  margin-left: auto;
}
.modal--dark .modal__footer {
  margin-left: 0;
}

.text-editor {
  max-width: 940px;
  margin: 0 auto;
}
.text-editor p {
  color: var(--lynch);
}
.text-editor > *:not(:last-child) {
  margin-bottom: 24px;
}

.form-control {
  position: relative;
  border: 1px solid var(--stroke);
  border-radius: 4px;
}
.form-control input,
.form-control select,
.form-control textarea {
  display: block;
  width: 100%;
  padding: 16px;
  border: none;
  outline: none;
  background: transparent;
  font-size: 1.6rem;
  line-height: 2.2rem;
}
.form-control select {
  cursor: pointer;
}
.form-control textarea {
  resize: none;
  min-height: 200px;
}
.form-control label {
  position: absolute;
  top: 16px;
  left: 8px;
  padding: 0 8px;
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
  background: var(--athens-gray);
  color: var(--placeholder);
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
  cursor: text;
}
.form-control.focused label {
  -webkit-transform: translateY(calc(-50% - 16px));
      -ms-transform: translateY(calc(-50% - 16px));
          transform: translateY(calc(-50% - 16px));
  color: var(--blue-ribbon);
}
.form-checkbox {
  position: relative;
}
.form-checkbox input {
  position: absolute;
  top: 0;
  opacity: 0;
}
.form-checkbox label {
  display: block;
  padding-left: 24px;
  font-size: 12px;
  line-height: 18px;
  color: var(--lynch);
  cursor: pointer;
}
.form-checkbox label:before {
  content: '\2713';
  position: absolute;
  left: 0;
  top: 1px;
  width: 16px;
  height: 16px;
  border-radius: 4px;
  border: 1px solid var(--stroke);
  color: transparent;
  text-align: center;
  font-size: 16px;
  line-height: 16px;
  -webkit-transition: color 0.2s;
  -o-transition: color 0.2s;
  transition: color 0.2s;
}
.form-checkbox input:checked + label:before {
  color: var(--blue-ribbon);
}
.form-checkbox label a {
  color: var(--blue-ribbon);
}

.select {
  position: relative;
  z-index: 1;
}
.select select {
  display: none;
}
.select__head {
  position: relative;
  padding: 16px 44px 16px 16px;
  border-radius: 4px;
  cursor: pointer;
  background: var(--athens-gray);
}
.select__arrow {
  position: absolute;
  right: 16px;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  border-top: 6px solid #000;
  border-right: 6px solid transparent;
  border-left: 6px solid transparent;
}
.select__body {
  position: absolute;
  top: calc(100% + 4px);
  left: 0;
  right: 0;
  padding: 16px 0;
  background: #fff;
  -webkit-box-shadow: 0 4px 4px 0 rgba(0,0,0,0.2);
          box-shadow: 0 4px 4px 0 rgba(0,0,0,0.2);
  -webkit-transform: translateY(-20px);
      -ms-transform: translateY(-20px);
          transform: translateY(-20px);
  -webkit-clip-path: polygon(-10% -10%, 110% -10%, 110% -10%, -10% -10%);
          clip-path: polygon(-10% -10%, 110% -10%, 110% -10%, -10% -10%);
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
  z-index: -1;
}
.select.open .select__body {
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
  -webkit-clip-path: polygon(-10% -10%, 110% -10%, 110% 110%, -10% 110%);
          clip-path: polygon(-10% -10%, 110% -10%, 110% 110%, -10% 110%);
}
.select.open .select__arrow {
  -webkit-transform: translateY(-50%) scaleY(-1);
      -ms-transform: translateY(-50%) scaleY(-1);
          transform: translateY(-50%) scaleY(-1);
}
.select__options {
  list-style: none;
  max-height: 150px;
  overflow-y: auto;
}
.select__options li {
  cursor: pointer;
  padding: 4px 16px;
}
.select__options li:hover,
.select__options li.active {
  background: #E6F4FE;
}

.alert {
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: #fff;
  padding: 8px 24px;
  min-width: 300px;
  text-align: center;
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 51, 0.1);
          box-shadow: 0 0 20px rgba(0, 0, 51, 0.1);
  border-radius: 4px;
  min-height: 100px;
  z-index: 1;
  border: 8px solid #fff;
}
.alert__content {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.alert__close {
  display: none;
  font-size: 14px;
  line-height: 14px;
  cursor: pointer;
  margin-left: 24px;
}
.alert.visible {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.alert.error {
  background: #FFE3E3;
}
.alert.error .alert__content {
  color: #B00020;
}
.alert.error .alert__close {
  display: block;
}

@media only screen and (max-width: 1024px) {
  .bubble {
    padding: 32px 24px;
  }
}

@media only screen and (max-width: 800px) {
  .split--double {
    display: block;
    margin: 0;
  }
  .split--double .split__part {
    margin: 0;
  }
}

@media only screen and (max-width: 768px) {
  body.no-scroll.os-win,
  body.no-scroll.os-win header {
    padding: 0;
  }
  .menu li {
    margin: 0 10px;
  }
}

@media only screen and (max-width: 700px) {
  .container--header .logo {
    max-width: 130px;
  }
  .burger {
    display: block;
    position: relative;
    width: 16px;
    height: 16px;
    cursor: pointer;
    border-top: 2px solid var(--stratos);
    border-bottom: 2px solid var(--stratos);
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
  }
  .burger:before,
  .burger:after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    height: 2px;
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    background: var(--stratos);
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
  }
  .burger:hover {
    border-color: var(--blue-ribbon);
  }
  .burger:hover:before,
  .burger:hover:after {
    background: var(--blue-ribbon);
  }
  .burger.active {
    border-color: transparent;
  }
  .burger.active:before {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  .burger.active:after {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
  .menu-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    position: absolute;
    bottom: 40px;
    width: 100%;
    background: #fff;
    right: 0;
    padding: 25px var(--safe-space) 35px;
    -webkit-box-shadow: 0 5px 10px #D9DDE3;
            box-shadow: 0 5px 10px #D9DDE3;
    border-radius: 0 0 24px 24px;
    z-index: -1;
    -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
            transform: translateY(0);
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
  }
  .menu-wrap.active {
    -webkit-transform: translateY(calc(100% + 41px));
        -ms-transform: translateY(calc(100% + 41px));
            transform: translateY(calc(100% + 41px));
  }
  .menu {
    display: block;
    text-align: right;
  }
  .menu li {
    margin: 0 0 24px;
  }
  .menu li:last-child {
    margin: 0;
  }
}

@media only screen and (max-width: 655px) {
  :root {
    --safe-space: 24px;
    --base-distance: 48px;
  }

  .container--footer .logo {
    width: 24px;
    overflow: hidden;
  }
  .container--footer .logo img {
    max-width: none;
    width: 120px;
  }
  .footer-menu {
    text-align: center;
    padding-left: 0;
  }
}

@media only screen and (max-width: 360px) {
  .bubble {
    padding: 32px 0;
  }
  .bubble:before {
    inset: 0 var(--negative-safe-space);
    border-radius: 0;
  }
  .pagination {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

}