.container--main {
  min-height: calc(100vh - 80px - 126px);
}
div.split__part {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}
h1 {
  /* flex: 1; */
  font-size: 2rem;
}
.content h2 {
  margin: 24px 0 16px;
  font-size: 3.2rem;
  line-height: 3.8rem;
  font-weight: 300;
}
.content {
  margin-bottom: 24px;
}
@media only screen and (max-width: 800px) {
  .split__part:first-child {
    margin-bottom: 24px;
  }
}

@media only screen and (max-width: 360px) {
  .content h2 {
    font-size: 2.2rem;
    line-height: 2.6rem;
  }
}