.quotes .split {
  align-items: center;
}
.quote {
  position: relative;
  font-size: 3.2rem;
  line-height: 3.8rem;
  font-weight: 300;
}
.quote:before,
.quote:after {
  content: '';
  position: absolute;
  width: 10px;
  height: 10px;
  background: red;
}
.quote:before {
  top: 0;
  left: 0;
}
.quote:after {
  bottom: 0;
  right: 0;
}
.quote strong {
  font-weight: 600;
}





.values {
  position: relative;
  padding: 32px;
  /* margin-bottom: 64px; */
  
}
.values:before {
  content: '';
  position: absolute;
  inset: 0;
  border-radius: 24px;
  background: var(--athens-gray);
  background-color: lightblue;
  z-index: -1;
}
.values h2 {
  /* margin-bottom: 62px; */
  font-size: 2rem;
  line-height: 2.4rem;
  font-weight: 600;
}
.values__list {
  max-width: 992px;
  margin: 0 auto;
  /* display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 60px; */
  list-style-type: none;
}
.value {
  max-width: 416px;
  flex: 0 0 calc(50% - 40px);
  margin: 0 20px 64px;
}
.value__title {
  display: flex;
  align-items: center;
  margin-bottom: 24px;
}



.personas__container {
  margin-top: 64px;
}
.personas__wrap {
  display: flex;
  justify-content: center;
}
.persona {
  margin: 0 20px 20px;
}


@media only screen and (max-width: 900px)  {

}

@media only screen and (max-width: 360px) {
  .values {
    padding: 0;
  }
  .values:before {
    inset: 0 calc(var(--safe-space) * -1);
    border-radius: 0;
  }
  .values__wrap {
    overflow: hidden;
  }
  .values__list.split {
    display: flex;
    flex-wrap: nowrap;
  }
  .values__list li {
    flex: 1 0 100%;
  }
}