.quotes {
  margin-bottom: var(--base-distance);
}
.quotes .split {
  align-items: center;
}
.quote:not(:last-child) {
  margin-bottom: 40px;
}
.quote__content {
  position: relative;
  padding: 48px 0;
  font-size: 3.2rem;
  line-height: 3.8rem;
  font-weight: 300;
  /* max-width: calc(100% - 40px); */
}
.quote__content:before,
.quote__content:after {
  content: '';
  position: absolute;
  width: 24px;
  height: 24px;
  background: var(--lynch);
}
.quote__content:before {
  top: 0;
  left: 0;
}
.quote__content:after {
  bottom: 0;
  right: 0;
}

.quote strong {
  font-weight: 600;
}



.values {
  /* position: relative; */
  /* padding: 32px 8px 8px; */
  margin-bottom: var(--base-distance);
  /* margin-bottom: 64px; */
  
}

/* .values h2 {
  margin: 0 0 64px 24px;
  
} */
.values__list {
  max-width: 1088px;
  margin: 0 auto;
  justify-content: space-between;
  /* display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 60px; */
  list-style-type: none;
}
.values__list .values__item {
  max-width: 416px;
  /* flex: 0 0 calc(50% - 40px); */
  margin-bottom: 64px;
  /* margin: 0 20px 64px; */
}
.values__list .values__item:last-child {
  /* margin-bottom: 0; */
}
.value__title {
  display: flex;
  align-items: center;
  margin-bottom: 24px;
  color: var(--blue-ribbon);
}
.value__title img {
  margin-right: 16px;
}
.pagination--values {
  margin-top: 30px;
  color: var(--lynch);
}



.personas__title {
  font-size: 2rem;
  line-height: 2.4rem;
  margin-bottom: 64px;
}
.personas__container {
  margin-top: 64px;
}
.personas__wrap {
  position: relative;
  overflow: hidden;
  /* display: flex;
  justify-content: center; */
}
.personas__wrap:before {
  content: '';
  position: absolute;
  width: 152px;
  height: 152px;
  background-color: var(--blue-ribbon);
  left: 50%;
  bottom: 0;
  transform: translate(-50%, 50%);
  border-radius: 50%;
}
.personas .split {
  padding-bottom: 76px;
  justify-content: center;
}
.persona {
  max-width: 200px;
  min-width: 200px;
  font-size: 1.4rem;
  line-height: 2.2rem;
  margin-bottom: 96px;
  cursor: pointer;
  
  /* margin: 0 20px 20px; */
}
.persona__card {
  padding: 8px;
  border-radius: 24px 24px 0 0;
  background: var(--athens-gray);
  border-bottom: 1px solid var(--blue-ribbon);
  
}
.persona__image {
  max-width: 152px;
  margin-bottom: 16px;
  border-radius: 24px;
  overflow: hidden;
}
.persona__image img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.persona__title {
  margin-bottom: 8px;
  font-size: 1.4rem;
  line-height: 2.2rem;
  font-weight: 600;
}
.persona__desc {
  margin-bottom: 8px;
  font-size: 1.4rem;
  line-height: 2.2rem;
  color: var(--lynch)
}
.persona__bio {
  display: flex;
  display: none;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  max-width: 647px;
  width: 100%;
  left: 50%;
  padding: 41px;
  transform: translateX(-50%);
  background: var(--stratos);
  border-radius: 24px;
  max-height: 537px;
  /* opacity: 0; */
  /* transition: 0.2s; */
  cursor: default;
  
}
.persona__content {
  color: #fff;
  
  overflow-y: auto;
  margin-bottom: 16px;
  padding-right: 8px;
  /* overflow-x: scroll; */
}

.persona__content::-webkit-scrollbar {
  width: 3px;
  border-radius: 20px;
}

/* Track */
.persona__content::-webkit-scrollbar-track {
  background: transparent;
  /* border-radius: 20px; */
}

/* Handle */
.persona__content::-webkit-scrollbar-thumb {
  background: #fff;
  border-radius: 20px;
}

/* Handle on hover */
/* .persona__content::-webkit-scrollbar-thumb:hover {
  background: blue;
} */

.persona.open .persona__bio {
  display: flex;
}

/* .persona:hover .persona__bio {
  display: flex;
  opacity: 1;
} */

@media only screen and (max-width: 1024px) {
  .values__list {
    max-width: none;
    margin: 0 -24px;
  }
  .personas .split--quadraple .split__part {
    flex: 1 0 calc(25% - 48px);
  }
}


@media only screen and (max-width: 900px) {

}

@media only screen and (max-width: 768px) {
  .personas .split__part:last-child {
    /* margin-right: 0; */
    /* flex: 1 0 calc(50% - 40px); */
  }
  
}

@media only screen and (max-width: 655px) {

  .quotes .quote {
    display: flex;
    flex-direction: column;
    order: 1;
    margin-bottom: 32px;
  }
  .quotes .quote__content{
    margin-bottom: 32px;
    max-width: none;
  }
  .quote figure {
    order: 2;
    /* margin-bottom: 32px; */
  }
  .values__list {
    margin: 0;
  }
  .values__list .values__item {
    max-width: none;
    margin-bottom: 24px;
    
  }
  
  .value__title {
    margin-bottom: 0;
  }
  .values__item .content {
    margin-left: 56px;
  }
}

@media only screen and (max-width: 528px) {
  .personas__wrap {
    margin: 0 -40px;
    /* margin-right: calc(-1 * var(--safe-space)); */
    /* padding: 0 16px; */
    /* margin: 0 -40px 0 -16px */
    /* paddisng: 0 16px; */
    /* justify-content: flex-start; */
    /* overflow: hidden; */
    /* margin-right: -40px; */
  }
  .personas .split {
    /* margin: ; */
    /* margin: 0 0 0 -40px; */
    margin: 0;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: nowrap;
  }
  .personas .split__part {
    /* margin: 0 24px; */
    /* margin: 0 48px 0 0; */
    /* margin: 0; */
  }
  /* .personas .split__part:last-child {
    margin-right: 0;
  } */
  .persona {
    position: relative;
    margin: 0 24px 96px;
    /* flex: 0 0 200px;
    max-width: none;
    min-width: none; */
    /* margin: 0 24px; */
  }
  .persona__bio {
    position: relative;
    left: 0;
    transform: translateX(0);
    /* margin: 0 calc((100vw - 100% - 80px - 24px + 16px + 7px) * -1) 0 -16px;
    margin: 0 calc((100vw - 100% - 2 * var(--safe-space) - 24px + 7px) * -1) 0 0;
    margin: 0 calc(-1 * (50vw - 40px - 50% - 8px)); */
    width: auto;
    padding: 16px;
    margin: 0 calc(-1 * (50vw - 100%));
    /*  */
  }
 
}

@media only screen and (max-width: 360px) {
  .quote__content {
    font-size: 2.4rem;
    line-height: 3.2rem;
  }
  /* .values {
    padding: 32px 0;
  } */
  .values h2 {
    margin-bottom: 32px;
  }
  .values__wrap {
    overflow: hidden;
  }
  .values__list.split {
    display: flex;
    flex-wrap: nowrap;
  }
  .values__list .values__item {
    flex: 1 0 100%;
    margin-bottom: 0;
    font-size: 1.4rem;
    line-height: 1.8rem;
    text-align: center;
  }
  .values__item h3 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 16px;
  }
  .values__item img {
    margin: 0 0 8px;
  }
  .values__item .content {
    margin: 0;
  }

  .persona {
    margin-bottom: 64px;
  }
  /* .values .pagination__bullet {
    background: #D9DDE3;
  }
  .values .pagination__bullet.active {
    background: var(--lynch);
  }
  .values .pagination__bullet.active:before {
    border-color: var(--lynch);
  } */
}