
.intro {
  margin-bottom: 72px;
}
h1 {
  margin-bottom: 72px;
  font-size: 5.6rem;
  line-height: 6.8rem;
  font-weight: 600;
  text-align: center;
}
.intro__description {
  max-width: 482px;
  margin: 0 auto;
  text-align: center;
  color: var(--lynch);
}
.tiles {
  margin-bottom: 80px;
}
.main-teaser {
  align-items: flex-start;
}
.main-teaser__title {
  font-size: 3.2rem;
  line-height: 4rem;
  font-weight: 700;
  margin-bottom: 24px;
}

@media only screen and (max-width: 1024px) {
  h1 {
    margin-bottom: 64px;
  }
}

@media only screen and (max-width: 655px) {
  .main-teaser .split__part:nth-child(1) {
    /* max-width: none; */
    margin-bottom: 40px;
  }
}

@media only screen and (max-width: 475px) {
  h1 {
    font-size: 4rem;
    line-height: 4.8rem;
  }
}

@media only screen and (max-width: 360px) {
  .intro {
    margin-bottom: 52px;
  }
  .tiles {
    margin: 0 var(--negative-safe-space) 48px;
  }
}