.container--main {
  padding-top: 0;
}
.intro {
  position: relative;
  min-height: 687px;
  padding-top: 64px;
  padding-bottom: 40px;
  margin-bottom: 72px;
}
.intro__cover {
  position: absolute;
  width: calc(100vw - 17px);
  left: 50%;
  top: 0;
  bottom: 0;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: -1;
}
.intro__cover img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}
h1 {
  max-width: 448px;
  margin-bottom: 40px;
  font-size: 3.2rem;
  line-height: 4rem;
  font-weight: 300;
}
h1 strong {
  font-weight: 600;
}
.intro .content {
  margin-top: 20px;
  max-width: 448px;
  font-size: 2rem;
  line-height: 2.4rem;
  color: var(--stratos);
}
.intro .content ul li {
  position: relative;
  margin-bottom: 16px;
  
  font-size: 1.6rem;
  line-height: 2.2rem;
}
.intro .content ul li:last-child {
  margin-bottom: 0;
}
.intro .content ul li:before {
  top: 4px;
  width: 16px;
  left: -24px;
  border-radius: 0;
  height: 16px;
  background: url(../../assets/question_mark.svg);
}
.quote-list {
  margin-bottom: 80px;
}
.quote-list__title {
  margin-bottom: 48px;
  color: var(--blue-ribbon);
}
.quote-list .split {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.quote-list ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.quote-list li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  padding: 0 16px;
  list-style-type: none;
}
.quote-list li:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 2px;
  background: var(--blue-ribbon);
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}
.quote-list li:hover:before {
  width: 4px;
}

.blockquote {
  position: relative;
  padding: 48px 180px;
  text-align: center;
  margin-bottom: 116px;
  font-weight: 300;
  font-size: 3.2rem;
  line-height: 4rem;
}
.blockquote:before {
  content: '';
  position: absolute;
  inset: 0;
  border-radius: 24px;
  background: var(--athens-gray);
  z-index: -1;
}
.blockquote p {
  max-width: 864px;
  margin: 0 auto;
}
.blockquote span {
  display: block;
}
.blockquote img {
  position: absolute;
  bottom: -72px;
  right: 40px;
}

.vertical-teaser {
  position: relative;

}
.vertical-teaser.split__part {
  flex: 0 0 calc(50% - 48px);
}
.vertical-teaser:not(:last-child) {
  margin-bottom: 64px;
}
.vertical-teaser:last-child {
  padding-bottom: 80px;
}
.vertical-teaser:last-child:before {
  content: '';
  position: absolute;
  width: 152px;
  height: 152px;
  bottom: 0;
  right: 80px;
  border-radius: 50%;
  -webkit-transform: translateY(50%);
      -ms-transform: translateY(50%);
          transform: translateY(50%);
  background: var(--blue-ribbon);
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 50%, 0 50%);
          clip-path: polygon(0 0, 100% 0, 100% 50%, 0 50%);
}
.vertical-teaser figure {
  margin-bottom: 32px;
}
.vertical-teaser > img {
  position: absolute;
  right: 24px;
  top: -88px;
  z-index: 1;
}
.vertical-teaser__tag {
  display: inline-block;
  padding: 5px 10px;
  margin-bottom: 16px;
  background: var(--geyser);
  color: var(--lynch);
  border-radius: 10px;
  font-size: 1.4rem;
  line-height: 1.8rem;
}
.vertical-teaser__title {
  margin-bottom: 16px;
  font-size: 2.4rem;
  line-height: 3.2rem;
}
.pagination--vertical-teasers {
  color: #fff
}

@media only screen and (max-width: 1024px) {
  .quote-list {
    margin-bottom: 0;
  }
  .quote-list ul {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .quote-list li {
    margin-bottom: 40px;
    -webkit-box-flex: 1;
        -ms-flex: 1 0 calc(50%);
            flex: 1 0 calc(50%);
  }

  .blockquote {
    margin-bottom: 92px;
    padding: 48px 32px;
  }
  .blockquote img {
    max-width: 93px;
    bottom: -56px;
    right: 24px;
  }
}

@media only screen and (max-width: 870px) {
  .intro__cover {
    background: #D9DDE3;
    opacity: 0.5;
  }
  .intro__cover img {
    display: none;
  }
}

@media only screen and (max-width: 800px) {
  .blockquote {
    margin-bottom: 76px;
    font-size: 2.4rem;
    line-height: 3.2rem;
  }
  .vertical-teaser > img {
    display: none;
  }
  .vertical-teaser:not(:last-child) {
    margin-bottom: 64px;
  }
}

@media only screen and (max-width: 475px) {
  .quote-list ul {
    display: block;
  }
  .quote-list .split__part {
    margin: 0 0 40px;
  }
}

@media only screen and (max-width: 360px) {
  .intro .content {
    font-size: 1.6rem;
    line-height: 2.2rem;
  }
  .intro .content ul li {
    font-size: 1.2rem;
    line-height: 1.6rem;
  }

  .blockquote {
    margin-bottom: 24px;
    padding: 30px 0;
  }
  .blockquote:before {
    inset: 0 var(--negative-safe-space);
    border-radius: 0;
  }
  .blockquote img {
    display: none;
  }

  .vertical-teasers {
    position: relative;
    margin: 0 var(--negative-safe-space);
    overflow: hidden;
  }
  .vertical-teasers .split {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .vertical-teasers .vertical-teaser {
    position: relative;
    -webkit-box-flex: 1;
        -ms-flex: 1 0 auto;
            flex: 1 0 auto;
    padding: 0 var(--safe-space);
  }
  .vertical-teaser:not(:last-child) {
    margin: 0;
  }
  .vertical-teaser:last-child:before {
    display: none;
  }
  .vertical-teaser figure {
    height: 320px;
    margin: 0 var(--negative-safe-space) 23px;
    border-radius: 0;
  }
  .vertical-teaser__tag {
    position: absolute;
    top: 290px;
    left: var(--safe-space);
    margin: 0;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    max-width: calc(100% - var(--safe-space) * 2 - 72px);
  }
  .vertical-teasers .pagination {
    position: absolute;
    top: 290px;
    right: var(--safe-space);
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
  }
}